:root {
    --background: oklch(14.5% 0 0);
    --foreground: oklch(87.2% .004 286.32);
    --muted-foreground: oklch(0.62 0.012 285);
    --card: oklch(18.5% 0 0);
    --accent-brand: oklch(0.82 0.17 152);

    --text-xs: 0.75rem;    /* 12px */
    --text-sm: 0.875rem;   /* 14px */
    --text-base: 1rem;     /* 16px */
    --text-lg: 1.125rem;   /* 18px */
    --text-xl: 1.25rem;    /* 20px */
    --text-2xl: 1.5rem;    /* 24px */
    --text-3xl: 1.875rem;  /* 30px */
    --text-4xl: 2.25rem;   /* 36px */

    --space-xxs: 0.25rem;  /* 4px */
    --space-xs: 0.5rem;    /* 8px */
    --space-s: 1rem;       /* 16px */
    --space-m: 1.5rem;     /* 24px */
    --space-l: 2rem;       /* 32px */
    --space-xl: 3rem;      /* 48px */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

h1 {
    font-size: var(--space-xl);
}

/* background image */

.background-img {
    position: fixed;
    inset: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(15%);
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    margin: var(--space-m) var(--space-l);
    
    font-size: var(--text-sm);
}

.sign-in {
    color: var(--muted-foreground);
    cursor: pointer;
    transition: color 0.2s ease;
}

.sign-in:hover {
    color: inherit;
}

/* Main Content */

.main-content {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    padding-top: var(--space-xl)
}

.main-title {
    line-height: 1.2;
    margin-bottom: var(--space-s);
}

.main-title span {
    color: var(--accent-brand);
}

.description {
    font-size: var(--sm);
    color: var(--muted-foreground);
    margin-bottom: var(--space-xl);
}

.description span {
    color: var(--accent-brand);
}

textarea {
    border: none;
    resize: vertical;
    padding: var(--space-m);
    color: inherit;
    font-size: var(--text-sm);
}

textarea:focus {
    outline: none;
}

textarea.text-input {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.12);

    border-radius: 20px;
    width: 800px;
    min-height: 200px;
}